[2020-05-06 22:56] agrowe opened #508 "Lang string does not exist plagiarism_turnitin/[[classcreationerror]]"
Version: v2019121701

Invalid get_string() identifier: 'classcreationerror' or component 'plagiarism_turnitin'. Perhaps you are missing $string['classcreationerror'] = ''; in /var/www/staging-taylorscollege-lms.au.studygroup.com/plagiarism/turnitin/lang/en/plagiarism_turnitin.php?

There is a lang string with "pp_" at the beginning but not this exact match.

[2020-05-12 16:59] rlorenzo opened #509 "Deprecation warnings in Moodle 3.9"
When running the latest Moodle 3.9 code we are seeing these deprecation warnings:

The setting plagiarism:turnitin_use is deprecated. Use plagiarism_turnitin:enabled instead
line 204 of /lib/plagiarismlib.php: call to debugging()
line 121 of /lib/plagiarismlib.php: call to plagiarism_load_available_plugins()
line 192 of /mod/assign/mod_form.php: call to plagiarism_get_form_elements_module()
line 2

[2020-05-12 23:41] danmarsden commented on #509
this partly duplicates #448  :-)

[2020-05-12 23:44] rlorenzo commented on #448
More deprecations in MDL-67872 - deprecate and fix plagiarismlib use of config vars

The setting plagiarism:turnitin_use is deprecated. Use plagiarism_turnitin:enabled instead
line 204 of /lib/plagiarismlib.php: call to debugging()
line 121 of /lib/plagiarismlib.php: call to plagiarism_load_available_plugins()
line 192 of /mod/assign/mod_form.php: call to plagiarism_get_form_elements_module()
line

[2020-05-12 23:44] rlorenzo commented on #509
Closing since this is covered in another ticket.

[2020-05-12 23:44] #509 closed

[2020-05-18 14:15] #498 closed

[2020-05-18 14:21] jmcgettrick commented on #455
These notices have been fixed on develop

[2020-05-18 14:21] #455 closed

[2020-05-19 09:41] CharlotteSpinks commented on #508
Hi @agrowe Thanks for letting us know, this has been updated and will be merged soon.

[2020-05-19 09:41] #508 closed

[2020-06-01 12:02] Sabbir-Hossain-SE commented on #419
Currently, I am facing this type of issue with model 3.8 . Please, help me to solve this . :(

require.min.js:5 Uncaught Error: Mismatched anonymous define() module: function($){'use strict';var Slick=window.Slick||{};Slick=(function(){var instanceUid=0;function Slick(element,settings){var _=this,dataSettings,responsiveSettings,breakpoint;_.defaults={accessibility:!0,adaptiveHeight:!1,appendArrows

[2020-06-10 22:38] danmarsden opened #515 "Performance issues with scheduled tasks"
The scheuled tasks appear to be extremely in-efficient.

In particular the "update_reports" task which is set to run every 5 min by default.

for one of our sites - it doesn't usually do less than 5000 db reads and 800 writes every time, which means that's it's doing 720,000 reads and 115,200 writes over a 24hr period.

We had a much bigger situation yesterday (guessing a bunch of assignments were

[2020-06-19 16:44] aspark21 opened #517 "Database schema inconsistent with clean install"
Run: php admin/cli/check_database_schema.php

Database schema inconsistent with clean install. Running this for a core issue in 3.9 where there were some steps missing from the db/upgrade.php compared to the install.xml (MDL-69049) we have picked up on the following inconsistencies with this plugin:

[code]

[2020-06-19 22:45] aspark21 opened #518 "Moodle 3.9 behat failure"
Moodle 3.9
plagiarism_plugin v2019121701

022 Scenario: All of the selected roles can award badges # /var/www/html/badges/tests/behat/award_badge.feature:313
      And I trigger cron                                 # /var/www/html/badges/tests/behat/award_badge.feature:379
        Other backtraces found:
        line 41 of /plagiarism/turnitin/classes/turnitin_comms.class.php: call to behat_error_

[2020-06-23 06:11] MYGawish opened #519 "Error with submissions: XML Response could not be parsed"
Integration of turnitin plagiarism plugin with Moodle.
Although, I have installed and tested the Turnitin Moodle Direct V2 and Turnitin Plagiarism plugins successfully with the message "Moodle has successfully connected to Turnitin". There is an error which prevents any request to be carried out in Turnitin.

I face this error with submissions of **Moodle assignment** activity only. Turnitin assig

[2020-07-02 19:38] MYGawish commented on #519
Solved!

[2020-07-02 19:38] #519 closed

[2020-07-03 08:24] jmcgettrick commented on #519
Hey @MYGawish - good to hear. What was the issue?

[2020-07-06 02:06] danmarsden opened #522 "3.9 unit test failures with plagiarism_turnitin_coursemodule_standard_elements when bigbluebutton installed."
Guess you can't rely on $formwrapper->get_current()->modulename always existing?

might be nice to handle that a bit nicer on the Turnitin side?

1) mod_bigbluebuttonbn_lib_testcase::test_bigbluebuttonbn_reset_course_form_definition
Undefined property: stdClass::$modulename

/var/www/html/plagiarism/turnitin/lib.php:2843
/var/www/html/course/moodleform_mod.php:894
/var/www/html/course/moodleform_m

[2020-07-08 11:20] CharlotteSpinks commented on #522
Hey @danmarsden This is now fixed in v2020070801.

[2020-07-08 11:20] #522 closed

[2020-07-08 11:23] CharlotteSpinks commented on #518
Hey @aspark21 This is now fixed in v2020070801.

[2020-07-08 11:23] #518 closed

[2020-07-13 00:14] agrowe commented on #476
I have seen this issue as well where there are duplicate externalids and multiple rows per student submission. The `get_record()` function will return this result as it only expects there to be 1 record returned.

To find the externalids that may be causing issues, you can run

[code]

Then get the rows with duplicates. The rows I found to the problem had a statuscode of success but a similaritysc

[2020-07-15 07:56] aspark21 opened #526 "TypeError"
Moodle 3.7.7
PP v2020070801

Uncaught exception 'TypeError' with message 'Argument 2 passed to has_capability() must be an instance of context, null given, called in /path/to/moodle/plagiarism/turnitin/ajax.php on line 162' in /path/to/moodle/lib/accesslib.php:427
in has_capability called at /path/to/moodle/plagiarism/turnitin/ajax.php (162)

[2020-07-15 08:18] jmcgettrick commented on #526
That's an odd one by the look of it. Is it happening on all module types for all users?

[2020-07-15 08:32] aspark21 commented on #526
I've just noted two instances of that in the NewRelic logs in the last 24h so not that frequent

[2020-07-15 08:35] aspark21 commented on #526
seems to have returned a 404 http status code with that. was a mod_assign

[2020-07-15 08:53] jmcgettrick commented on #526
It's happening on viewing a rubric so probably not that frequent, we'll get it looked at

[2020-07-15 09:10] jmcgettrick commented on #526
I can reproduce the issue, we'll get it fixed.

[2020-07-20 08:10] yezi08 opened #527 "a bug - show to ‘Turnitin plagiarism plugin settings’ in assignment activity"
I just upgraded the Turnitin plugin plagiarism_turnitin 2020070801 on your Moodle system (Moodle 3.7.5) last week. And we found a terrible bug. In the setting of assignment activity, the ‘Turnitin plagiarism plugin settings’ section appears twice, as shown in the screen shot below. Moreover, teachers need to enable Turnitin in BOTH sections to successfully enable Turnitin. It is really confusing t

[2020-07-20 09:42] jmcgettrick commented on #527
Thanks for reporting @yezi08 - see #528

[2020-07-21 09:57] thepurpleblob commented on #527
Just a "me too". We're seeing the same thing

[2020-07-21 10:01] thepurpleblob commented on #527
Worse - only the lower tab actually seems to work.

[2020-07-21 10:33] thepurpleblob commented on #527
I'm assuming his isn't news to you but you seem to have tried to move the settings into function plagiarism_turnitin_coursemodule_standard_elements

However, Assignment is still calling the 'old' method for adding plagiarism settings. Turnitin is doing both of them :(

[2020-07-21 10:43] jmcgettrick commented on #527
Thanks @thepurpleblob - yes we're going to release a patch to fix it to only show once.

[2020-07-21 10:45] thepurpleblob commented on #527
It seems to be the $CFG->branch > 39 check that's causing the problem on my site. I'm not sure what that does? Anyway, taking out that check and it works

[2020-07-22 03:02] golenkovm commented on #517
Yeah, looks like this inconsistence comes from these commits:
https://github.com/turnitin/moodle-plagiarism_turnitin/commit/8148c4772c2e371c70239dd81d1ebd53bfc2edf1
https://github.com/turnitin/moodle-plagiarism_turnitin/commit/21883cf6b01987288d93d07a50534558c2f8dcd3

The plagiarism_turnitin_files table is fixed in this commit:
https://github.com/turnitin/moodle-plagiarism_turnitin/commit/24c781a5

[2020-07-22 12:46] CharlotteSpinks commented on #527
Hi @yezi08 @thepurpleblob This is resolved in the latest release.

[2020-07-22 12:46] #527 closed

[2020-07-22 12:53] thepurpleblob commented on #527
@CharlotteSpinks if you mean the code that's currently here in Github then I beg to differ.

It doesn't work on 3.8 (and probably 3.7) because the $CFG->branch check is wrong.

[2020-07-22 13:10] CharlotteSpinks commented on #527
Hey @thepurpleblob Are you referring to an earlier commit? I have removed the branch check in #531 and this code is now live.

[2020-07-22 13:28] thepurpleblob commented on #527
@CharlotteSpinks sorry - missed your update. I see now

[2020-08-06 21:20] rlorenzo commented on #499
Just reporting that we ran into this issue when we upgraded from Moodle 3.5 to 3.9 with the new forum system. Hope to see this resolved sometime soon.

[2020-08-12 10:04] savva312 opened #536 "plagiarism_plugin::save_form_elements() is deprecated."
Hello, running Moodle 3.9.1 and I am getting this error

Plugin version plagiarism_turnitin - 2020072201

[code]

[2020-08-12 10:17] savva312 commented on #536
I am also seeing this one when trying to add an assigment

[code]

[2020-08-13 04:45] danmarsden commented on #536
this is a duplicate of #448

[2020-08-14 09:07] aspark21 commented on #526
@jmcgettrick I didn't see this mentioned in the 2020072201 release, we are now seeing 400+ occurrences of this error on a daily basis so would be good to get this resolved. Is another release planned before the start of Academic Year?

[2020-08-14 15:11] sleitao opened #537 "Error on "View the Rubric used for marking" as a student"
When submitting an assignment as a student, if I click "View the Rubric used for marking" I get the following error:

Exception - Argument 2 passed to has_capability() must be an instance of context, null given, called in [dirroot]/plagiarism/turnitin/ajax.php on line 162

$plugin->version = 2020072201;

[2020-08-24 15:15] CharlotteSpinks commented on #499
Thanks for the report, I'll look into this.

[2020-09-01 04:44] jonof commented on #537
This is a fix we're presently evaluating:
[code]

[2020-09-01 17:26] lucaboesch opened #539 "Turnitin SDK Exception: responsexmlerror - XML Response could not be parsed"
According to https://moodle.org/mod/forum/discuss.php?d=406687 there is an issue with an error message

Turnitin SDK Exception: responsexmlerror - XML Response could not be parsed

and not verified submissions.

We do suffer from this issue, too.

Thanks for enquiring. Note I don't retain raising PHP to 7.4.9 as proposed in that forum thread as a viable solution.

Best,
Luca

[2020-09-02 02:21] deraadt commented on #539
We are experiencing this issue also. It seems to occur when filenames or student names include certain characters, such as apostrophes or non-latin characters (eg ä).

Our setup is as follows.
- Moodle 3.8.3
- PHP 7.2.26
- IIS 10.0 (under Windows, of course)
- SQL Server DB

[2020-09-08 05:52] bryson-stansfield opened #540 "Stuck on 'Status Queued'"
After upgrading to 3.9 we have been unable to get submissions made through the normal Moodle assignment to return an originality score. Papers submitted through a TurnitIn Assignment V2 activity work and return an originality score. When running the 'Send Queued files from the turnitin plagarisim plugin' scheduled task manually I get a "Cannot obtain task lock" error. I've provided api logs and ac

[2020-09-14 11:47] jmcgettrick commented on #517
@aspark21 - see https://github.com/turnitin/moodle-plagiarism_turnitin/pull/542

[2020-09-16 22:57] deraadt commented on #539
With a lot of effort, we managed to upgrade PHP. We were still seeing the issue on PHP 7.3.x (although not on our test Linux instance). When we upgraded to 7.4.10, this issue went away. There doesn't seem to have been many changes in mbstring since 7.3.x, so it must be something else, possibly linked to OS. We are now seeing a deprecation warning that is not stopping the code from running.

[2020-09-16 23:00] deraadt opened #543 "Deprecated use of conditional expressions"
We were forced to upgrade to PHP 7.4.x as TurnItIn was failing to deal with non-latin characters with earlier PHP versions.

We are now seeing a deprecation warning in cron logs when a submission is being sent to TurnItIn.

`Deprecated: Unparenthesized `a ? b : c ? d : e` is deprecated. Use either `(a ? b : c) ? d : e` or `a ? b : (c ? d : e)` in C:\inetpub\wwwroot\moodle\plagiarism\turnitin\vendo

[2020-09-17 00:20] aspark21 commented on #517
Sorry, haven't really had a chance to go through this in any detail and about to go on leave but this seems to roughly be doing what's needed - i.e. either fix install.xml or upgrade.php for fields and then have an upgrade script which cleans things up.

Would it be worth us upgrading on one of our test sites?
If so, @cybernotic can pick up while I'm away

[2020-09-18 08:18] jmcgettrick commented on #526
Closing as this is a duplicate of #537 - we'll get this fixed in the next couple of weeks

[2020-09-18 08:18] #526 closed

[2020-09-22 12:51] SubjectXXX opened #546 "PHP Notice: The setting plagiarism:turnitin_use is deprecated."
I'm getting full logs of next NOTICE:

PHP Notice:  The setting plagiarism:turnitin_use is deprecated. Use plagiarism_turnitin:enabled instead<ul style="text-align: left" data-rel="backtrace"><li>line 204 of /lib/plagiarismlib.php: call to debugging()</li><li>line 42 of /lib/plagiarismlib.php: call to plagiarism_load_available_plugins()</li><li>line 1431 of /mod/assign/renderer.php: call to plagia

[2020-09-28 16:00] jmcgettrick commented on #537
https://github.com/turnitin/moodle-plagiarism_turnitin/pull/550

[2020-09-29 13:56] vsotirasqmplus opened #551 "Slow queries in two lib functions on large data sets"
Tue, 29 Sep 2020, 9:43 PM

SELECT pathnamehash FROM mdl_files WHERE component = 'assignsubmission_file' AND itemid = '1505368' AND source IS NOT null ORDER BY id DESC
lib.php private function update_grade($cm, $submission, $userid)
public function clean_old_turnitin_submissions($cm, $userid, $itemid, $submissiontype, $identifier)

both above functions include a query which under MySQL 5.7 run for

[2020-10-06 06:33] jonof commented on #537
It seems my fix is not enough to solve the error you still get if you click the rubric icon once a submission is no longer editable and there's no form from which the plugin can steal the cmid or courseid. I'll contemplate a more robust solution.

[2020-10-07 23:51] jonof commented on #537
This alternative works reliably from our testing: jonof@385f22ec7ec0eade8a2bc13fe6f85cf79d630577

[2020-10-08 08:22] jmcgettrick commented on #537
Hey @jonof - can you make a PR for that please?

[2020-10-12 03:48] dmitriim commented on #539
One of our clients is affected as well. As official Ubuntu distribution includes just php7.4.3, would it be possible to implement a workaround to avoid a hassle upgrading php?
We are happy to help if can get more details about why it's failing.

[2020-10-12 13:33] jmcgettrick commented on #539
I suspect this is the bug in PHP/cURL is the issue: https://bugs.php.net/bug.php?id=79013

[2020-10-13 14:53] #237 closed

[2020-10-26 17:06] thepurpleblob opened #556 "plugin does not handle queued, deleted files correctly"
If a file is deleted before it is sent to turnitin it will be in plagiarism_turnitin_files but no matching entry in the 'files' table. The file will have a 'queued' status. These instances build up.

Once these start to exceed the value of PLAGIARISM_TURNITIN_CRON_SUBMISSIONS_LIMIT it starts to have a detrimental effect on Turnitin processing. A 'missing file' error is generated but no error is fl

[2020-10-26 17:13] thepurpleblob commented on #540
Have you checked your scheduled task logs? Does the \plagiarism_turnitin\task\send_submissions task *ever* run? If not, can you kill your cron and run it manually?

[2020-10-26 18:43] aspark21 commented on #448
Related to this there's also this:

plagiarism_plugin::save_form_elements() is deprecated. Use plagiarism_turnitin_coursemodule_edit_post_actions() instead
line 100 of /lib/plagiarismlib.php: call to debugging()
line 383 of /course/modlib.php: call to plagiarism_save_form_elements()
line 662 of /course/modlib.php: call to edit_module_post_actions()
line 157 of /course/modedit.php: call to update_m

[2020-10-26 20:29] aspark21 commented on #517
I've just run an upgrade with develop branch of plagiarism plugin (+ PR 553  which is not relevant to this issue but is for our own pre-3.9 testing)

-------------------------------------------------------------------------------
plagiarism_turnitin_users
 * column 'userid' should be NOT NULL (I)
-------------------------------------------------------------------------------
plagiarism_turnitin_co

[2020-10-26 20:43] aspark21 commented on #517
Just had a look back at https://github.com/turnitin/moodle-plagiarism_turnitin/pull/542/files#diff-fcb317575e9e6245fdf1590e51a86685b61c2cc9573a9df8034323ccb3ef614fR447 and it does seem like there was no upgrade steps for those 2 fields.

Might have been intentional as I can see it was reverted here - https://github.com/turnitin/moodle-plagiarism_turnitin/pull/542/commits/e009474ed340bc5bd541ab8fdc

[2020-10-27 19:11] aspark21 opened #557 "Behat Scenario failure when legacy cron is called"
Behat Scenario: Bulk accepting requests
 /var/www/html/admin/tool/dataprivacy/tests/behat/manage_data_requests.feature:61

  And I trigger cron                                                                      # behat_general::i_trigger_cron()
      Other backtraces found:
      line 3480 of /lib/deprecatedlib.php: call to debugging()
      line 172 of /lib/classes/task/legacy_plugin_cron_task.

[2020-10-29 10:26] thepurpleblob opened #558 "Error when students try to see rubric"
Following error is shown....

Exception - Argument 2 passed to has_capability() must be an instance of context, null given, called in [dirroot]/plagiarism/turnitin/ajax.php on line 162
More information about this error
×
Debug info:
Error code: generalexceptionmessage
×
Stack trace:
* line 427 of /lib/accesslib.php: TypeError thrown
* line 162 of /plagiarism/turnitin/ajax.php: call to has_capabili

[2020-11-04 22:58] agrowe commented on #515
After looking into performance issues with our scheduled tasks in cron we are also seeing ~7000 DB queries each time `plagiarism_turnitin\task\update_reports` is run.

Not as bad as customcert which was almost doing 27k queries every minutes, but still needs to be handled better.

[2020-11-04 23:26] danmarsden commented on #515
it's fun when it runs "on the hour" too... because that just happens to be when people like to schedule exams/timed quizzes - right when you don't really want the db server doing heaps of other work...

[2020-11-04 23:42] agrowe commented on #515
Here's the last 24 hours of DB queries for our Moodle's sorted by query count.

This is the top 7 queries. 2/3/5/7 all look similar on the graph so are most likely caused by this plugin (but some are used in Moodle elsewhere), or exacerbated by this plugin.

Every 5 minutes, 6681 minimum queries logged in the cron output for this task.

We only return 124 rows for the `get_records_select` too, so

[2020-11-04 23:56] rlorenzo commented on #515
Seeing the same here. These are our last 3 runs:

42498 reads
9061 writes

42554 reads
9073 writes

39580 reads
8413 writes

I am changing our task runtime to be every 10 minutes instead of every 5 minutes. That function does run a lot of things in loops... See https://github.com/turnitin/moodle-plagiarism_turnitin/blob/master/lib.php#L1954

[2020-11-05 00:16] danmarsden commented on #515
I'd suggest running it every 13 minutes - or a setting that doesn't end up with it running on the hour every hour. You really don't want this task kicking in at the exact moment 500 users (or more!) all enter a timed quiz.

[2020-11-05 00:28] agrowe commented on #515
Taking a quick look into this.

The SQL here could be changed to this so we fetch more data in the initial query

https://github.com/turnitin/moodle-plagiarism_turnitin/blob/185971479dd96918ca5b37aa5572500131f48aeb/lib.php#L1961-L1968

[code]

This means we then don't need to call this function `get_coursemodule_from_id`

https://github.com/turnitin/moodle-plagiarism_turnitin/blob/185971479dd96918

[2020-11-05 00:36] agrowe commented on #515
Running at */10 or */13 will still start it at 0 minutes.

To skip beginning and end of the hour, something like "7/11 * * * *" would work. That runs at ":07, :18, :29, :40, and :51", every 11 minutes starting at 7 past.

[2020-11-05 00:43] rlorenzo commented on #515
@agrowe Unfortunately Moodle's task system flags 7/11 for the minute field as "Data submitted is invalid".

[2020-11-05 00:48] agrowe commented on #515
@rlorenzo see my edit above, you can comma separate a list of minutes you want it to run. I used 7,18,29,40,51 as it's odd minutes and I don't want it near a the end or middle of an hour in it's current form.

[2020-11-05 10:05] jmcgettrick commented on #515
Thanks for the insight everyone, I'll get this looked at.

[2020-11-27 10:33] jwloubser opened #563 "upgrade on mssql fail"
php 7.3.11 pecl mssql drv 5.8.1 (Apache rhel7) MSSQL
3.9.3 (BUILD: 20201109) (2020061503)

$plugin->version = 2020112601;
$plugin->release = "3.5+";
$plugin->requires = 2018051700;
$plugin->component = 'plagiarism_turnitin';
$plugin->maturity  = MATURITY_STABLE;
$plugin->cron = 0;

type y (means yes) or n (means no)
: y
-->plagiarism_turnitin
Default exception handler: column "plagiarism_turnitin_

[2020-11-27 22:26] jspicard commented on #563
Also experiencing same error on MySQL on same column and index.

Moodle Version: 3.9.3+ (Build: 20201113)
MariaDB: 10.5.8
PHP: 7.3.24
plagiarism_turnitin: 2020112601

[2020-11-30 09:30] jmcgettrick commented on #563
https://github.com/turnitin/moodle-plagiarism_turnitin/pull/564

[2020-11-30 10:31] jmcgettrick commented on #563
https://github.com/turnitin/moodle-plagiarism_turnitin/releases/tag/v2020113001

[2020-11-30 10:31] #563 closed

[2021-01-07 10:32] ghost opened #566 "Exception when making group submission"
* Moodle version: 3.9.3 (20201109)
* `plagiarism_turnitin` plugin version: 2020072201
* `mod_turnitintooltwo` plugin version: 2020072201

When making a submission to a Moodle assignment as a student, with "Student submit in groups" set to yes, we get a database exception. This prevents the submission from being sent to TurnItIn.

[code]

We also receive notices on the assignment list page, which a

[2021-01-07 11:07] jbriggscmet commented on #566
This looks like a regression. On our production Moodle site (3.6.3), using plagiarism plugin `2019031301`, this all works correctly.

[2021-01-08 06:25] jgg9026 opened #567 "Upgrade path issues for version 2020113001"
Hi guys,

I was taking a look at your upgrade file and saw something weird with the last upgrade block.

[code]

Please note that `$table` is not changing its value and there is no field `turnitin_utp` on the table `plagiarism_turnitin_files` since it belongs to `plagiarism_turnitin_users`. With that in mind it looks like only `itemid` and `student_read ` are getting updated.

It looks like an eas

[2021-01-11 17:16] jbriggscmet commented on #558
We're getting the same error:

[code]

This works on our live site, so appears to be a regression.

* Moodle version: 3.9.3 (20201109)
* `plagiarism_turnitin` plugin version: 2020072201
* `mod_turnitintooltwo` plugin version: 2020072201

[2021-01-14 10:49] CharlotteSpinks commented on #558
Hi @jbriggscmet we appear to have fixed this here https://github.com/turnitin/moodle-plagiarism_turnitin/pull/554

[2021-01-15 11:55] jbriggscmet commented on #558
Hi @CharlotteSpinks we've retested this issue in our test environment and it is now working as expected when using plugin version `2020113001`. It looks like the Moodle CLI upgrade scripts did not clear the Moodle caches correctly, and an outdated version of the TurnItIn JavaScript files were being served to users.

[2021-01-15 11:58] jbriggscmet commented on #566
We've done some further testing and investigation. The cause seems to be when a user has both the student and teacher role within a course. The plugins cannot determine which individual user to attribute the submission to. I believe this is a result of checking for the `mod/assign:grade` capability in https://github.com/turnitin/moodle-plagiarism_turnitin/blob/master/lib.php#L1628.

[2021-01-15 12:08] CharlotteSpinks commented on #558
@jbriggscmet That's great, thank you for letting us know 😄

[2021-01-15 12:08] #558 closed

[2021-01-18 23:43] agrowe commented on #567
`turnitin_uid` and `turnitin_utp` belong to `plagiarism_turnitin_users`

Also `ownerid`, `turnitin_ctl` and `turnitin_cid` belong to `plagiarism_turnitin_courses`

Adding `$table = new xmldb_table('plagiarism_turnitin_users');` at line 464, and `$table = new xmldb_table('plagiarism_turnitin_courses');` at line 477 should be enough

[2021-01-20 11:24] DavidPoll opened #569 "When a student removes their submission, the turnitin submission persists in Feedback Studio"
Moodle version 3.8.6
Plagiarism plugin 3.5+ 2020113001

On an assignment with the plagiarism plugin enabled, if a student removes their submission, the file upload is removed (see Capture A).

Note the submission status is incorrect - but that is a known moodle bug (https://tracker.moodle.org/browse/MDL-66203) for them to fix.

So the file is removed and we cannot see the file in the submissions l

[2021-01-22 04:22] mdjnelson opened #570 "The scheduled task 'Update Report Scores for Turnitin Plagiarism Plugin' can show PHP notices."
I know this would not be the case if I had configured the plugin, but I do not need to (at least for now) on my dev site, however it gets installed automatically via .gitmodules. We should not have PHP notices regardless if settings are enabled or not.

Thanks!

[code]

[2021-01-28 11:20] mhughes2k commented on #340
So any movement on this since July 2018?

[2021-01-28 11:25] aspark21 commented on #340
@mhughes2k It's in the TII PP but you need to cherry-pick Dan's WIP in core moodle - https://tracker.moodle.org/browse/MDL-32226

[2021-01-28 20:29] danmarsden commented on #340
yeah - I'm just waiting on peer review sign-off before I can send through for integration review. - hopefully should land in Moodle 3.11 - sites using older Moodle releases will likely need to cherry-pick that core patch in the mean-time.

But - as Alastair mentions - the Turnitin plugin already supports it, it's just that the core Moodle Quiz activity needs hooks in the right place so the Turniti

[2021-03-01 13:26] aspark21 opened #575 "Quiz Essay question type should support scanning file attachments"
At the moment, the text of the response is scanned but file attachments are not. The filename gets appended to the text but it's not possible for the attachments to get properly scanned. This is a feature implemented by Dan Marsden which TII doesn't seem to support. I would expect separate reports for each attachment & the text area.

https://tracker.moodle.org/browse/MDL-32226?focusedCommentId=84

[2021-03-02 21:37] danmarsden commented on #575
fyi - looks like you'll need to add something like
[code]
Somewhere in this block.
https://github.com/turnitin/moodle-plagiarism_turnitin/blob/cf3952c67833d3af76133fe3038497c03b765b0c/lib.php#L2571

and then check that the get_links stuff returns the results of those files in the UI

[2021-03-03 13:11] aspark21 commented on #575
@jmcgettrick We're in need of this at relatively short notice for the upcoming exam period, too short to consider lobbying Turnitin HQ to put this into it's roadmap so we are looking to develop it for ourselves & submit MR.

I think our devs might want to have a chat with you at some point to make sure it's all done properly though.

[2021-03-04 12:07] jmcgettrick commented on #575
Hi @aspark21 that would be great, we stopped working on the feature while waiting for it to be released in Moodle. Feel free for them to get in touch, they can get me on here or via the Moodle thread on telegram.

[2021-03-04 13:24] jmcgettrick commented on #567
Fixed as part of #576

[2021-03-04 13:26] #263 closed

[2021-03-04 13:27] #461 closed

[2021-03-04 13:32] #536 closed

[2021-03-04 13:33] #537 closed

[2021-03-04 13:33] jmcgettrick commented on #575
I should add, we will be picking up the feature to finish off soon!

[2021-03-04 13:35] jmcgettrick commented on #245
This was added in 2019050201

[2021-03-04 13:35] #245 closed

[2021-03-04 14:04] #424 closed

[2021-03-04 14:27] jmcgettrick commented on #543
This fix is now released

[2021-03-04 14:27] #543 closed

[2021-03-04 17:29] #540 closed

[2021-03-04 17:51] #372 closed

[2021-03-04 17:52] #271 closed

[2021-03-04 17:58] jmcgettrick commented on #420
Closing as the corresponding Turnitin support case has been closed

[2021-03-04 17:58] #420 closed

[2021-03-18 06:49] maheshkumaraku commented on #475
I have been facing the same issue, is there any work on this done?

[2021-03-22 10:23] hugoacfs opened #578 "Deprecated functions on JQuery 3.5+"
**Moodle security announcement**: https://moodle.org/mod/forum/discuss.php?d=419655

The new JQuery deprecates functions like `trim()` found in [/jquery/turnitin_settings.js](https://github.com/turnitin/moodle-plagiarism_turnitin/blob/master/jquery/turnitin_settings.js)

Other deprecated syntax includes `:first` found in [/jquery/jquery.dataTables.columnFilter.js](https://github.com/turnitin/moodl

[2021-03-22 16:26] jmcgettrick commented on #578
Thanks @hugoacfs

[2021-04-15 17:18] jmcgettrick commented on #575
Thanks @danmarsden - First pass: https://github.com/turnitin/moodle-plagiarism_turnitin/pull/579

[2021-04-23 06:24] TomoTsuyuki commented on #556
We have same issue.
The schedule task picks up same records and new submissions are not processed because of this issue.

In our case, I can replicate the issue from following process.

1. A student submit assignment with file.
2. The student remove the submission.
3. The schedule task says 'no file to submit' because there is a record in mdl_plagiarism_turnitin_files but not in mdl_files.
    If

[2021-04-23 06:41] thepurpleblob commented on #556
We've actually got a script we run every so often to update the database directly. It's not ideal.

[2021-04-23 13:50] mhughes2k opened #583 ""Force" upload of submissions"
It appears that uploads to TII are only triggered by the student uploading the file.

We have sometimes had scenarios where the Plugin has been enabled after *some* students have already uploaded their files.
It would be good if there was a mechanism that we could get these submissions to be uploaded that didn't require any actions that changed timestamps, as using the Edit Submission option will

[2021-04-28 02:09] TomoTsuyuki commented on #556
I found 1 is fixed in develop branch as #568

I checked 2 for deleting event, but there is no event in the core, so we just set error if there is no file (fix 1).
I added sort by 'lastmodified' for 3 in new pull request #584 for develop branch.

[2021-05-24 01:26] golenkovm commented on #517
Yeah, I got the same @aspark21
userid and courseid columns still allow NULLs because there was no update step to alter then, just https://github.com/turnitin/moodle-plagiarism_turnitin/pull/542/commits/e009474ed340bc5bd541ab8fdc756808f6ff0566 that changes existing upgrade steps which are nevel called twice, so this didin't work for existing sites.
I'm happy to make a new PR for to fix remaning col

[2021-05-24 03:21] golenkovm commented on #517
Hey @aspark21 @jmcgettrick could you please check if #585 would work for you?
I had to drop and recreate a unique index in these columns because moodle has a dependency check and throws `column "plagiarism_turnitin_users-&gt;userid" cannot be modified. Dependency found with index "mdl_plagturnuser_use_uix (userid)"`

[2021-05-25 23:42] agrowe commented on #515
@jmcgettrick, Is this being targeted to be fixed/looked at in a specific upcoming release?

[2021-06-07 17:03] aspark21 commented on #517
I'll have a look

[2021-06-10 00:42] danmarsden opened #589 "quiz handling generates a queue item per question, not just for essay questions."
When handling a quiz the event_handler function finds every question in the quiz and adds it to the queue for processing - when you have a large quiz (100 questions) this generates 100 items in the queue which massively slows down the backlog.

ideally in here:
https://github.com/turnitin/moodle-plagiarism_turnitin/blob/master/lib.php#L2565

there should be a call to: $qa->get_question()->get_type

[2021-06-10 00:44] danmarsden commented on #589
I'd also suggest it might be worthwhile doing a character count on qa->get_response_summary and just ignoring it if it's under a certain count like 100 characters. (it could even be empty)

[2021-06-11 01:03] hdagheda opened #590 "Allow backup and restore to different site and account"

[2021-06-11 01:56] #590 closed

[2021-06-11 01:56] hdagheda commented on #590
Closing as it might not support different account but only on sub account

[2021-06-23 03:30] danmarsden opened #591 "plagiarism_plugin_turnitin::get_links doesn't cache the check if Turnitin is enabled in the coursemodule"
get_links should be checking to see if Turnitin is enabled in this activity before running through all the various things/queries - this is particularly important when a teacher wants to display large numbers of assignments in the same page - eg a page is showing 1000 users, with multiple files this causes the page to run unnecessarily slow while it does various turnitin related things with the fi

[2021-06-30 02:00] danmarsden commented on #591
now that I trace that further I can see there is a check that occurs later on via the get_settings call, but it isn't being cached in the static var - I've sent through a PR to fix that up.

[2021-07-02 02:15] danmarsden opened #593 "Consier allowing teacher to hide plagiarism links on large pages."
The Moodle assignment grading page allows the teacher to view all submissions on a single page without pagination - this is useful when using marking workflow or marking allocation and making bulk changes at the same time.

But - Turnitin makes quite a significant number of back-end api calls/db call/EULA checks for each user in the page, causing a page displaying 1000 or more students to be un-us

[2021-07-02 02:16] danmarsden commented on #593
here's the plugin I created to do this:
https://github.com/catalyst/moodle-local_disableplagiarism
All the work is in the callback in the lib.php file here:
https://github.com/catalyst/moodle-local_disableplagiarism/blob/main/lib.php#L29

[2021-07-08 13:39] aspark21 commented on #575
Included in v2021060801

Thanks John!

[2021-07-08 13:39] #575 closed

[2021-07-09 02:44] golenkovm commented on #517
Hi @aspark21
Have you had a chance to have a look?

[2021-07-12 07:08] NeillM opened #595 "Query caused full table scans"
Our DBA has noticed a query from this plugin causing full table scans

SELECT * FROM mdl_plagiarism_turnitin_files WHERE statuscode = 'queued' OR statuscode = 'pending'  ORDER BY lastmodified LIMIT 0, 100;

Occurrence: MEDIUM

|| id || select_type || table                         || partitions || type || possible_keys || key  || key_len || ref  || rows   || filtered || Extra

[2021-07-29 09:53] maheshkumaraku commented on #475
This literally makes Turnitin unusable in the Moodle App - any progress on this?

[2021-07-29 09:58] thepurpleblob commented on #475
We disabled Assignments through the app (which you can do). @maheshkumaraku, as you say, it completely breaks Assignments with Turnitin enabled.

[2021-07-29 10:01] maheshkumaraku commented on #475
I know, but it would have been a great thing if Turnitin worked with Assignment in app. @thepurpleblob

[2021-08-13 18:57] Syxton opened #597 "v2021081301 memory issue"
On our dev system running Moodle 3.11 we are running into this.

PHP Fatal error:  Allowed memory size of 8589934592 bytes exhausted (tried to allocate 149858225516 bytes) in /var/www/moodle-local/lib/plagiarismlib.php on line 1793

[2021-09-01 15:22] thepurpleblob commented on #448
Just noting that this is STILL there in the latest version that's supposed to be compatible with 3.11 :(

[2021-09-12 09:21] andrewrowatt-masseyuni commented on #589
@danmarsden confirming this is a real issue for us as well - three quizzes last week generated nearly 30,000 submissions, with many complaints about delays with assignment reports soon after.  I have also raised with Turnitin Support (Case: 01831537) and asked our Account Manager to escalate.   Anything you can suggest would be appreciated - including how to increase submission throughput from Moo

[2021-09-12 21:53] danmarsden commented on #589
Hi @andrewrowatt-masseyuni -
Ideally under line 2565 there needs to be something like:
if ($qa->get_question()->get_type_name() == 'essay') {

Hopefully Alex can help get this into your site until Turnitin address this themselves.

[2021-09-13 19:24] andrewrowatt-masseyuni commented on #589
Some progress @danmarsden!  Thank you for raising this issue here.

[2021-09-16 18:24] Syxton commented on #597
updated to yesterday's release.  No the message is:

2021/09/16 14:18:23 [error] 54499#54499: *4566713 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Allowed memory size of 2147483648 bytes exhausted (tried to allocate 65174037460 bytes) in /local/plagiarism/turnitin/lib.php on line 880" while reading response header from upstream, client: 111.111.111.111, server: moodle.domain.edu reques

[2021-09-30 11:36] kinnectus commented on #423
@danmarsden , did you get an answer to this?

Obviously your issue is ~2yrs old, however we cannot find anything that suggests TurnItIn plugin for Moodle supports access controlled links. It is something we are very interested in, as an institute, as it will be hugely effective for student assignments and reduce the storage required to keep the sheer volume of submissions we receive per annum.

[2021-10-13 15:36] thepurpleblob opened #602 "Does not update 'grader' field in 'mdl_assignment_grades' record."
We noticed this because we have a custom report that shows the grader. Often, if Turnitin has been used for grading there is no grader recorded.

This is one way to reproduce this but I'm quite sure that the assignment_grades records can be produced by Assignment in a number of other scenarious

- set up a test Moodle Assignment with blind marking, Turnitin and Marking Workflow
- add a few student

[2021-10-25 15:05] sharpchi opened #604 "Feedback studio overwrites custom grade scale in Moodle"
In our institution we don't use 100/100 grade scale, but we do use Feedback Studio for feedback. We tell the instructors to not enter a grade in Feedback Studio, but they do sometimes, and this overwrites what they have already entered in Moodle.
Our grade scale is a letter scale A1,A2,A3,A4,B1,B2 etc, but they have the values 1-18 in Moodle's grade selector.

![image](https://user-images.githubus

[2021-10-27 21:46] nwp90 opened #606 "quiz item submissions fail when an attempt is missing"
When a quiz attempt relating to a submission cannot be found, the entire submission process fails.

[2021-10-29 02:31] cameron1729 opened #608 "Context to display links is only checked at course level"
The `is_tutor` method of the various `turnitin_*.class.php` classes is currently passed a course context, this does not account for cases where a module has locally assigned roles. As an example:

1. Create a test course
2. Enrol some test students
3. Enrol a user at the course level as a student (to later be given locally assigned teacher role)
4. Create a test assignment, enabling Turnitin
5. su

[2021-11-22 12:04] susyzan opened #609 "Rubric manager modal's content cropped"
The Rubric Manager table's content is cropped and there isn't a scrollbar that can be used to reveal the overflowing content making it inaccessible.
The issue seems to be caused by the content within the iframe (.sc-view.rubric-manager.rubric-manager-panel.showing-grading-form.sc-gray-border) which has a min-width of 800px no matter the size of the screen or outer modal.
In addition to this, the

[2021-12-07 00:18] golenkovm commented on #517
Hi @aspark21 @jmcgettrick

Please feel free to let me know if there anything I can help with this one.
The PR seems straightforward, but if there is anything you'd want to discuss please let me know.
I'm looking forward to seeing this integrated.

Kind regards,
Misha

[2021-12-07 02:04] aspark21 commented on #517
Ah yes sorry this dropped off my radar, I'll try and look at it this week.

[2021-12-07 23:21] tsmilan opened #610 "Essay quiz submission skipping the text beyond '<' symbol"
Any text beyond ‘<’ symbol appears to be ignored during report generation.
Here's an example:
![image](https://user-images.githubusercontent.com/20942487/145120486-181eb231-5e55-4ee7-a7e9-5886487cf2f1.png)

And the text submitted was cut off
![image](https://user-images.githubusercontent.com/20942487/145120781-0c2f5903-59e1-4342-ad21-71b35fbd01ab.png)

[code]

[2021-12-15 06:38] TomoTsuyuki commented on #482
I got exactly same as this error.
I'm using commit 185971479dd96918ca5b37aa5572500131f48aeb (22 Jul 2020), so I updated to the latest one.
Some were fixed by #542 and may be fixed by #585 , but still have issue for `plagiarism_turnitin_config` table.

[2021-12-16 04:33] TomoTsuyuki commented on #482
I made a PR for fixing the `plagiarism_turnitin_config` issue.
For fixing all of the original errors in this issue, the code should be included #542 (already integrated), #585 , and #611 .

[2021-12-19 23:23] golenkovm commented on #517
Thank you @aspark21

[2022-01-14 05:07] golenkovm commented on #517
Hi @aspark21

Sorry for chasing you, but we have an open ticket wich I can't close untill this is fixed. Is there any chance to have a look at the issue? If there anything that needs to be changed in the PR I'm happy to do so.

Kind regards,
Misha

[2022-01-16 17:56] aspark21 commented on #517
I've finally taken a look apologies for delay.

Starting point:
Moodle 3.9.11+ & plagiarism_turnitin 2021060801
[code]

Upgraded to latest plagiarism_turnitin origin master (2021091501)

[code]

Upgraded to golenkovm/issue517_v2

No more warnings from
`php admin/cli/check_database_schema.php`

Unfortunately John has left Turnitin so it looks like @dominicgunn or @stvleung as the current owners of

[2022-01-16 18:03] aspark21 commented on #517
Can always try @dwinn but is a long shot, he might also have left.

[2022-01-25 04:00] golenkovm commented on #517
Thanks @aspark21 for having a look

[2022-01-25 04:01] golenkovm commented on #517
Hey @dominicgunn @stvleung @dwinn

Can somebody please merge this PR?

Kind regards,
Misha

[2022-02-14 09:39] vanie76 opened #612 "Moodle Quiz - Unable to view Turnitin similarity in Moodle Quiz essay Question type"
I created a quiz in Moodle by enabling Turnitin to YES via Turnitin Plagiarism Plugin setting within the Moodle QUIZ. Added essay type question into the quiz.
![image](https://user-images.githubusercontent.com/87995554/153837825-4bb4f314-0ce5-4420-ae99-8bb8a08e41e1.png)
After students clicked Submit and Finished , it shows Turnitin Status Queued. I try Refresh Submission few times via the quiz set

[2022-02-14 09:54] vanie76 commented on #610
Hi
Can I know how the similarity report was generated. Mine is still in Queued?

[2022-02-15 02:29] tsmilan commented on #610
Hey @vanie76
You need to run the scheduled task to send queued files and update scores.
Just look for
**Send Queued Files from the Turnitin Plagiarism Plugin
\plagiarism_turnitin\task\send_submissions**

and

**Update Report Scores for Turnitin Plagiarism Plugin
\plagiarism_turnitin\task\update_reports**

[2022-02-15 07:35] vanie76 commented on #610
can I do this from moodle

[2022-02-23 15:01] almadog opened #613 "Behat Test Failures"
Various behat tests are failing for 2 reasons I have managed to identify.
1) The turnitin plugin features are not available when the behat test is running - see attached html from behat test.
[Plagiarism-plugin-works-with-a-Moodle-Workshop_I-add-a-Workshop-to-section-1-and-I-fill-the-form-with-_37.zip](https://github.com/turnitin/moodle-plagiarism_turnitin/files/8125302/Plagiarism-plugin-works-wit

[2022-02-28 22:19] ehsan42 opened #614 "failed behat tests"
Moodle 3.11.5+ (Build: 20220218)
Php: 7.4, mysqli: 5.7.36

The following features are failing on the following steps

var/www/html/plagiarism/turnitin/tests/behat/workshop.feature:49
var/www/html/plagiarism/turnitin/tests/behat/forum.feature:53
var/www/html/plagiarism/turnitin/tests/behat/installed.feature:26
var/www/html/plagiarism/turnitin/tests/behat/pseudo_submission.feature:51
var/www/html/pl

[2022-03-21 01:57] jonof opened #616 "Similarity reports not viewable from the Forum grading interface"
The similarity report initialisation JavaScript is never invoked at page-load time on the Moodle 3.8+ forum discussion list page, so when a teacher opens the grading interface via the 'Grade users' button, none of the similarity scores can be clicked to open reports from that interface.
![Screen Shot 2022-03-21 at 11 46 38 am](https://user-images.githubusercontent.com/523647/159196295-4e8748c3-c91

[2022-03-23 14:32] dwinn commented on #602
Hi @thepurpleblob This has been fixed in version 2022032301 today.

[2022-03-23 14:32] #602 closed

[2022-03-23 14:32] dwinn commented on #606
Hi @nwp90 This has been fixed in version 2022032301 today.

[2022-03-24 20:37] simmonsgc commented on #616
I can confirm this same behavior in Moodle 3.10 and Moodle 3.11, using plugin ver 3.5+ (2021091501)
Thanks!

[2022-03-27 23:11] golenkovm commented on #517
Hi @dominicgunn  @stvleung  @dwinn

Is there a chance you could have a look at this PR? Thanks in advance. Appreciate this.

Kind regards,
Misha

[2022-04-27 14:37] thepurpleblob opened #619 "Hard coded errors frightening students"
There are messages if something goes wrong (which it does quite frequently) such as 'XML Response could not be parsed' which are hard coded. These will be shown to students on the Assignment page. These really worry students and make them think that their submission has completely failed.

Ideally these should not be displayed to students at all but even then they should not be hard coded they sho

[2022-04-27 14:39] mhughes2k commented on #619
Definitely agree with this. There should be a difference between a fatal error that will *never* succeed in the future, and those errors that are transient and most likely to "fix themselves" on a re-attempt (which ideally would happen automatically).

[2022-04-27 14:45] thepurpleblob commented on #619
I submitted this as a support case as well - Turnitin Case #10167057

The transient problem that causes this should really be fixed but I imagine that's difficult. However, I'd be happy for the error to be handled better. Students submitting under exam conditions get totally freaked out.

[2022-05-03 01:08] golenkovm commented on #517
Hi @dominicgunn @stvleung @dwinn

Please feel free to let me know if I can do anything to help you with this PR. Appreciate this.

Kind regards,
Misha

[2022-05-11 09:23] dragos5436 commented on #614
These tests are also failing for Moodle 4.0

[2022-05-17 08:33] mhughes2k opened #620 "TII Class Term Limits"
We have just discovered that there is a "term limit" on TII classes of 5 years.

Most of classes are reset via the Moodle course reset, as part of a batched process, each summer, and:

(so really the method is for 5000 class sites to all have the Class Reset manually & interactively triggered?!? TII Folk see Turnitin Support Case 10151347)

However some classes do not and continue on "infinitely".

[2022-05-20 08:01] sharpchi opened #621 "vendor/nategood/httpful not compatible with PHP 7.4"
This component, which I believe you use for testing, uses code that no longer works in PHP 7.4+
This is my output from phpdd
/plagiarism/turnitin/vendor/nategood/httpful/tests/Httpful/HttpfulTest.php:279 | removed | Function each() is removed.  Consider replace with foreach()
/plagiarism/turnitin/vendor/nategood/httpful/tests/Httpful/HttpfulTest.php:282 | removed | Function each() is removed.  Con

[2022-06-15 11:52] thepurpleblob commented on #591
We've hit this with quiz. Turnitin does a load of quiz processing even though it's not enabled for quiz. This **significantly** slows down the display of results page (literally 20+ minutes vs seconds). It rather implies that Turnitin is horribly inefficient with quiz but it *definitely* shouldn't be doing this when it's not enabled for quiz.

[2022-06-15 11:59] thepurpleblob opened #622 "get_links() does not check for enabled activity types"
Referring to plagiarism/turnitin/lib.php function get_links()

This checks if an activity is a quiz and gets information for the quiz. However, there is no check here whether the quiz activity is enabled in the Turnitin settings. Worse, this appears to be called for each attempt in the quiz (possibly a quiz issue). As the 'load_questions_usage_by_activity()' call is relatively expensive this makes

[2022-06-20 04:24] andrewrowatt-masseyuni opened #625 "Feature request: Quiz report"
Hi Team,

I'm relaying a request from an instructor.  They are wanting a report that shows Turnitin scores by student by question.  Is this something you are considering?

Regards,
  Andrew

[2022-06-24 10:53] mhughes2k opened #626 "Plugin prevents creation of Moodle assignment if having connection issues"
We've started to get these errors:

![image](https://user-images.githubusercontent.com/694841/175520295-9e2c5bd6-0160-4db8-a49e-dc98b5a786f7.png)

This is upon clicking the "create assignment" option in the Moodle activity chooser, the actual Moodle form has not been displayed yet.

It is unacceptable that the plagiarism plugin interferes with standard Moodle processes in this way. Any connection

[2022-06-24 12:28] mhughes2k commented on #626
Stack trace:
line 494 of /lib/setuplib.php: moodle_exception thrown
line 3369 of /plagiarism/turnitin/lib.php: call to print_error()
line 151 of /plagiarism/turnitin/classes/turnitin_comms.class.php: call to plagiarism_turnitin_print_error()
line 129 of /plagiarism/turnitin/classes/turnitin_assignment.class.php: call to turnitin_comms->handle_exceptions()
line 1662 of /plagiarism/turnitin/lib.php:

[2022-06-24 12:31] mhughes2k commented on #626
I'm sorry but *why* is Turnitin doing *anything* involving a live connection during the construction of a moodle form, without catching exceptions this could raise.

[2022-07-18 05:20] golenkovm commented on #517
Please, anyone @dominicgunn @stvleung @dwinn

[2022-07-18 06:28] golenkovm commented on #517
#585 has been rebased.
I also created #627 for `develop` branch.

[2022-07-18 09:04] dwinn commented on #517
Hi @golenkovm ,
Thank you for reporting the issue and the pull request, we will try to get this released as soon as we can.

[2022-07-25 10:03] #591 closed

[2022-08-17 06:41] vanie76 opened #630 "X Sign on Moodle Quiz Turnitin Plugin"
We used Moodle Quiz with Turnitin Plagiarism Plugin for the English Synthesis Test on 10 August 2022. We were not able to view the Similarity Report for a few students.
It shows the  X sign, as shown in Figure 1.
I tried Refresh Submission a few times but couldn't view the Similarity Report.

![image](https://user-images.githubusercontent.com/87995554/185051956-6cf959c3-fe10-45bd-8e74-adf29d2f09b5

[2022-08-18 03:02] registerme1963 opened #631 "user creation failed error"
Suddenly my students are getting this error during forum posting. However, their replies are posted but not submitted to turnitin.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/45921124/185282510-91f5585b-1ccd-4694-862c-88bd88a7d95c.png)

I never faced this error earlier.
Server setting:
OS; Ubuntu 20.04
PHP : 7.4.3
Mariadb: 10.3.34-MariaDB-0ubuntu0.20.04.1
Moodle: v4.0.1

Turn

[2022-09-15 16:33] dwinn commented on #626
Hi @mhughes2k ,

Which version of the plugin are you using?

We fixed this in 2021060801 and I just double checked and can no longer reproduce this issue. The release note for that version that mentions this is as follows:

_Create or access Moodle assignments, forums, and workshops when Turnitin is disabled_
If Turnitin is disabled for an assignment, forum, or workshop and Turnitin is unavailable

[2022-09-16 10:06] mhughes2k commented on #626
I'm not sure as we've now done upgrades to the affected service and are now on 2022072501

[2022-09-16 12:56] dwinn commented on #626
Hi @mhughes2k, That's good to hear. Please let us know if you encounter this issue again on the current version you are on and we'll take another look. I'll close the issue for the time being.

[2022-09-16 12:56] #626 closed

[2022-10-10 12:35] mhughes2k commented on #620
So this is still a thing, and has been a topic of discussion on the [Moodle forums](https://moodle.org/mod/forum/discuss.php?d=438311) where TII support have been saying that the class term limit is a Moodle thing (*it's not BTW*).

Could we please have a mechanism that allows *us* to decide what happens with Turnitin classes and which Moodle course is linked to which one.

At the moment the only

[2022-10-14 19:11] haietza opened #640 "Errors with plugin in Moodle 4.0"
We're running Moodle 4.0.4+ (Build: 20221007) with version 2022092101 of the plagiarism plugin and are not able to get any results back on either a forum or assignment. Seeing two errors from the forum:

Default exception handler: Coding error detected, it must be fixed by a programmer: The 'pathnamehashes' value must be set in other and must be an array. Debug:
Error code: codingerror
* line 74 o

[2022-10-17 07:38] mglaredo opened #641 "Moodle 4.1: Setting link not displaying on plugin overview to configurate"
**Turnitin plagiarism 3.5+ version 2022032301** installed on Moodle 4.1

Navigating into Site Administration > Plugin overview

We have no "Settings" link to plagiarism/turnitin/settings.php and if we write that URL, fails.

Thanks in advance

[2022-10-18 21:51] TheBryanOpen228 opened #642 "Fix Minified Javascript code"
When updating the plugin to the new 2022092101 Version for moodle 4.0, a Moodle core PhpUnit test was failing, see the issue log here:
[code]
This is because in a commit, [(Turnitin commit)](https://github.com/turnitin/moodle-plagiarism_turnitin/commit/2f7f756d9118585ccb9823e417eda564a7a27e4f) the minification of the javascript files was performed erroneously, creating minified files in the src so

[2022-11-08 12:18] thepurpleblob opened #643 "Submissions with errorcode = 6 are retried forever"
errorcode =6 is is the mystery condition that reports the error, "...there is a problem editing the module settings...". As an aside, this makes no sense and nobody has ever been able to explain what it means or how to rectify it.

However, if this does occur, the plugin retries these submissions forever. We have seen the number of 'attempts' reaching 10,000.

The bigger issue is that once there a